* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.logo {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    padding-top: 18px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    max-width: 600px;
}

.card-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.product-image {
    display: flex;
    max-width: 100%;
    /* height: ; */
    align-items: center;
    justify-content: center;
}

figure {
    /* width: auto;
    height: auto; */
    display: block;
}

.product-content {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.product-price {
    align-self: center;
    align-content: center;
    margin-top: 1rem;
}

.last-price {
    text-decoration: line-through;
    color: gray;
}

.new-price {
    font-size: 2rem;
}

.purchase-info {
    align-self: center;
    align-content: center;
}

.product-resume ul li {
    margin: 0;
    list-style: none;
    background: url(https://cdn-icons-png.flaticon.com/512/197/197586.png) left center no-repeat;
    background-size: 18px;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}


.product-specs {
    margin-top: 2rem;
}

.product-specs ul li {
    margin: 0;
    list-style: none;
} 

.purchase-info input,
.purchase-info .btn {
    border: 1px solid #ccc;
    /* border-radius: 20px; */
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    background-color: rgb(75, 102, 0);
    color: white;
}


.slider-container {
	position: relative;
    margin-bottom: 0.8rem;
}

.slider-container .bar {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 0;
	width: 90%;
	height: 5px;
	border-radius: 2.5px;
	background-color: #b19ea4;
	overflow: hidden;
}
.slider-container .bar .fill {
	display: block;
	width: 50%;
	height: 100%;
	background-color: #5c001c;
}
/* .slider-container .slider {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
} */
/* .slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	background-color: #6200ee;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: .3s ease-in-out;
} */

.product-title {
    font-size: 1rem;
    padding-bottom: 3rem;
    /* padding-left: 5vw; */
}

.product-detail .meta .icon-grape {
    margin: 0;
    display: block;
    background: url(https://cdn-icons-png.flaticon.com/512/3662/3662337.png) left top no-repeat;
    background-size: 32px;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
}

.product-detail-title {
    padding-bottom: 0.2rem;
}

.divider {
    margin: 0;
    background: url(http://192.168.1.8/wp-content/uploads/2021/11/Separador-Harmonizacao.svg) left top no-repeat;
    background-size: 350%;
    background-position: left top;
    height: 100px;
    margin-bottom: 140px;
    position: relative;
}

.divider .divider-content
{
    position: absolute;
    top: 100px;
    left: 0px;
}

@media (min-width: 800px) {
    .product-detail .meta {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        background-image: url(https://cdn-icons-png.flaticon.com/512/3662/3662337.png) left top no-repeat;
        background-size: 32px;
        margin-left: 10px;
    }
    .product-title {
        padding-left: 3vw;
    }

    .divider {
        margin: 0;
        background: url(http://192.168.1.8/wp-content/uploads/2021/11/Separador-Harmonizacao.svg) left top no-repeat;
        background-size: 200%;
        background-position: left top;
        width: 700px;
        height: 100px;
        padding-left: 100px;
        margin-bottom: 160px;
        margin-top: 80px;
        position: relative;
    }
    
    .divider .divider-content
    {
        position: absolute;
        top: 120px;
        left: 0px;
    }
    
}

@media (min-width: 600px) {
    .slider-container .bar {
        width: 90%;
    }

    
}

/* Desativar seleção do usuario */
#bloquear-selecao {
    user-select: none;
  }